body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  background-color: #f5f5f5;
}
hr {
  border-top: 1px solid #808080 !important;
  margin: 0 2% 0 2%;
  border: 0;
}
.fleches {
  width: 4em;
  margin: 0 7% 0 7%;
}
h1 {
  font-size: 4.5rem !important;
  font-weight: 300 !important;
  margin: 0 0 0 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}
.bouton:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.bouton:hover {
  background-color: #4582ec;
  color: white;
}
.bouton {
  border-radius: 1.078em;
  font-size: 0.875em;
  color: #4582ec;
  background-color: transparent;
  background-image: none;
  border-color: #4582ec;
  border: 1px solid;
  padding: 0.5rem 1.1rem;
  font-family: inherit;
  line-height: inherit;
  margin-left: 17%;
  width: 10%;
}
a {
  text-decoration: none !important;
}
.cadre {
  margin-left: 1em;
  margin-right: 1em;
}
.graph {
  margin-left: -10%;
}

.send {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.send input {
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.send button {
  width: 50px;
  height: 40px;
}
